<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="https://bouncelytics.com/favicon-32x32.png">

    {{! Styles'n'Scripts }}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="{{asset "css/ghost.css" }}" media="all" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/ba.css"}}" />

    <meta property="twitter:site" content="@bouncelytics">
    <meta property="twitter:domain" content="Bouncelytics.com" />
    <meta property="og:site_name" content="Bouncelytics Blog" />

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div id="fb-root"></div>
    <header id="global-header" class="global-header navbar">
       <nav role="navigation">
           <div class="wrapper">
               <a  href="https://bouncelytics.com/"><img src="{{ asset "images/logo-dark.png" }}" class="ba-logo"></a>
               <button type="button" class="mobile-menu" data-toggle="closed" data-target=".nav-collapse">
               <span class="hidden">Menu</span>
               </button>
               <ul id="main-menu" class="nav-collapse closed">
                   <li><a href="https://bouncelytics.com/pricing">Pricing</a></li>
                   <li><a href="https://bouncelytics/features">Features</a></li>
                    <li><a href="http://blog.bouncelytics.com">Blog</a></li>
                   <li><a class="signup" href="//ghost.org/signup/">Sign Up</a></li>
                   <li><a class="login" href="//ghost.org/login/">Log in</a></li>
               </ul>
           </div>
        </nav>
    </header>

    <main class="blog-wrapper" role="main">
        <div class="page-wrapper">
            {{{body}}}
            <div class="clearfix"></div>
        </div>
    </main>

    <div class="modal fade" id="blogsubscribe" tabindex="-1" role="dialog" aria-labelledby="Email subscription modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">The latest content, once per week.</h4>
                    <a class="modal-close" data-dismiss="modal" aria-hidden="true" href="#"><span class="hidden">Close</span></a>
                </header>
                <div class="modal-body">
                    <form action="{{! populated via code injection}}" method="post">
                        <input id="fieldEmail" name="{{! populated via code injection}}" type="email" placeholder="Your email address" required />
                        <button class="button-add wide" type="submit">Send me the good stuff</button>
                        <p><strong>Privacy policy:</strong> No spam. Unsubscribe any time.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

<footer class="footer">
    <div class="container">
        <div class="grid  grid--center">
            <div class="grid__item one-fifth">
                <p class="footer__heading">Product</p>

                <ul class="nav  nav--stacked  footer__nav">
                    <li><a href="https://bouncelytics.com/pricing">Pricing</a></li>
                    <li><a href="https://bouncelytics.com/features">Features</a></li>
                    <li><a href="https://blog.bouncelytics.com">Blog</a></li>
                    <li><a href="/cdn-cgi/l/email-protection#fa929f969695ba98958f94999f96838e939989d4999597">Contact Us</a></li>
                </ul>
            </div><div class="grid__item one-fifth">
                <p class="footer__heading">Connect</p>

                <ul class="nav  nav--stacked  footer__nav">
                    <li><a href="https://facebook.com/bouncelytics">Facebook</a></li>
                    <li><a href="https://twitter.com/bouncelytics">Twitter</a></li>
                    <li><a href="https://github.com/bouncelytics">Github</a></li>
                </ul>
            </div><div class="grid__item one-fifth">
                <img src="{{ asset "images/logo-bottom.png" }}" width="113px" alt="">
                <p class="copyright">Copyright © 2016 Bouncelytics. </p>
            </div>
        </div>
    </div>
</footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    {{ghost_foot}}


    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
